.news {
	&-preview {
		margin-bottom: 50px;
		&__title {
			margin-top: 20px;
			margin-bottom: 10px;
			font-size: 3em;
			text-align: center;
		}
		&__list {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
		&__item {
			height: 250px;
			flex: 0 1 350px;
			position: relative;
			margin: 10px;
			background-color: $bg-color-light;
			border-radius: 5px;
			padding: 15px 20px;
			border: 1px solid $color-text-menu;
			font-size: 1.3em;
			text-indent: 0;
			&-title {
				font-size: 1.4em;
				margin-bottom: 10px;
			}
			&-subtitle {
				font-size: 0.7em;
				margin-bottom: 20px;
			}
			&-logo {
				width: 50px;
				height: 60px;
				padding: 5px 10px 5px 0;
				float: left;
				img {
					width: 100%;
				}
			}
			&-content {
				font-size: 0.7em;
			}
		}
		&__read-more {
			position: absolute;
			bottom: 20px;
			width: 88%;
			font-size: 0.7em;
			&-link {
				float: right;
				color: $color-text-main;
				cursor: pointer;
			}
		}
		&__dashboard {
			font-size: 1.1rem;
			.fa {
				margin-right: 5px;
				cursor: pointer;
				&:hover {
					color: $color-text-menu;
				}
			}
		}
		&__links {
			display: flex;
			justify-content: center;
			padding: 10px 0;
			> a {
				margin: 0px 3px;
				padding: 3px 5px;
				border: 1px solid $color-text-main;
				text-decoration: none;
				text-indent: 0px;
				color: $color-text-main;
				transition: all $animation-fast ease-in;
				&:hover {
					background-color: $color-text-main;
					color: $bg-color-dark;
				}
				&.active {
					margin: 0px 10px;
					border: 1px solid $bg-color-dark;
				}
				&:not([href]) {
					cursor: not-allowed;
					&:hover {
						background-color: $color-text-menu;
						color: $color-text-blur;
					}
				}
			}
		}
	}
}
