$font-size-main: 16px;
$font-size-main-sm: 12px;
$font-size-main-md: 14px;

$color-text-dark: #30324d;
$color-text-blur: #5e4343;
$color-text-main: #b3a2a2;
$color-text-menu: #dfa261;
$color-text-section-title: #f2ce91;

$button-remove-color: #c45050;
$button-remove-color-hover: #aa1414;

$bg-color-light: #38244f;
$bg-color-dark: #221740;
$bg-color-input: #0000004a;

$animation-fast: 0.3s;

%nonDeleteTextForInput {
	position: relative;
	display: flex;
	.non-delete-text {
		pointer-events: none;
		position: absolute;
		right: 2%;
		top: 2px;
		color: #455ace8a;
		&.left {
			left: 2px;
		}
	}
}

%buttonStyle {
	background: #00abff;
	font-weight: bold;
	font-size: 15px;
	line-height: 18px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #04316a;
	padding: 10px 25px;
	outline: none;
	border: 1px solid $color-text-main;
	cursor: pointer;
	text-decoration: none;
	transition: all $animation-fast ease-in;
	&:hover {
		background-color: $color-text-main;
		color: $color-text-dark;
	}
	&.negative {
		i.fa {
			pointer-events: none;
		}
		&:hover {
			color: #c41919;
			background-color: #ffcfdc;
		}
	}
	&.positive {
		i.fa {
			pointer-events: none;
		}
		&:hover {
			color: #018ba1;
			background-color: #99f976;
		}
	}
	&.neutral {
		i.fa {
			pointer-events: none;
		}
		&:hover {
			background-color: #7e80ff;
			border-color: #583966;
			color: #202e79;
		}
	}
}
.setting-text-dashboard {
	font-size: 2rem;
	text-align: right;
	&__button {
		cursor: pointer;
		transition: all $animation-fast ease-in-out;
		&:hover {
			color: $color-text-menu;
		}
	}
}
#cke_21,
#cke_28,
#cke_31,
#cke_36,
#cke_68,
#cke_72,
#cke_75,
#cke_81,
#cke_90 {
	display: none;
}
