@import "./normalize";
@import "./mixins_adapt";
body {
	font-family: Lobster, Arial, Helvetica, cursive, sans-serif;
	font-size: 12px;
	background-size: 100%;
	background-color: #fff8dc;
}
a {
	cursor: pointer;
	color: #6e3f6c;
	&:hover {
		color: #5c0828;
		text-decoration: underline;
	}
}
.header {
	display: flex;
	justify-content: space-between;
	// align-items: center;
	div {
		&:nth-child(2) {
			margin: 10px 20px;
		}
		img {
			width: 100% !important;
		}
	}
	&__main-logo {
		flex: 1 1 20%;
		min-width: 150px;
		@include sm {
			flex: 1 1 50%;
			min-width: 100px;
		}
	}
	&__title {
		@include sm {
			display: none;
		}
		flex: 1 1 50%;
	}
	&__login-place {
		flex: 1 1 10%;
		border: 3px groove #cac6ff;
		padding: 5px 10px 10px 15px;
		background-color: #ffe1e1;
		@include sm {
			flex: 1 1 50%;
			min-width: 100px;
		}
	}
}
header {
	menu {
		list-style: none;
		display: flex;
		justify-content: center;
		li {
			margin: 5px 20px;
			padding: 5px 10px;
			font-size: 22px;
			border-radius: 5px;
			text-transform: uppercase;
			cursor: pointer;
			a {
				color: #000000;
			}
			&:hover {
				background: linear-gradient(#96c0ff66, #3354fda8);
				a {
					color: #66157d;
				}
			}
			&:active {
				background: linear-gradient(#3354fda8, #96c0ff66);
				a {
					color: #221ef0;
				}
			}
		}
	}
}
.left-panel {
	position: fixed;
	height: 100%;
	width: 20px;
	z-index: 2;
	&__button {
		position: relative;
		cursor: pointer;
		margin: 25px 0px 20px 5px;
		border: 5px solid red;
		width: 50px;
		border-radius: 35px;
		padding: 5px;
		&:hover {
			width: 200px;
			background-color: #d8bfd8;
			span {
				display: inline-block;
			}
		}
		img {
			width: 50px;
		}
		span {
			width: 70%;
			display: none;
			vertical-align: top;
			margin-top: 15px;
			font-size: 20px;
			text-align: center;
		}
	}
}
