@import "./normalize";
@import "./mixins_adapt";
@import "./defaults";
@import "./forms";
@import "./admin-panel";

body {
	font-family: Lobster, Arial, Helvetica, cursive, sans-serif;
	font-size: 12px;
	background-size: 100%;
	background-color: #fff8dc;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: hidden;
}
.span_button {
	@extend %buttons;
}
footer {
	margin-top: auto;
	padding: 20px;
}
a {
	cursor: pointer;
	color: #6e3f6c;
	&:hover {
		color: #5c0828;
		text-decoration: underline;
	}
}
hr {
	width: 100%;
}
.header {
	display: flex;
	justify-content: space-between;
	> div {
		&:nth-child(2) {
			margin: 10px 20px;
		}
		img {
			width: 100% !important;
		}
	}
	&__main-logo {
		flex: 1 1 20%;
		min-width: 150px;
		@include sm {
			flex: 1 1 50%;
			min-width: 100px;
		}
	}
	&__title {
		@include sm {
			display: none;
		}
		flex: 1 1 50%;
	}
	&__login-place {
		flex: 1 1 10%;
		border: 3px groove #cac6ff;
		padding: 5px 10px 10px 15px;
		background-color: #ffe1e1;
		font-family: franklin gothic medium;
		font-size: 12px;
		.info-row {
			display: flex;
			justify-content: space-between;
			font-size: 14px;
			padding: 1px 10px;
		}
		h4 {
			text-align: center;
			padding: 0;
			margin: 10px;
			font-size: 16px;
			text-transform: uppercase;
		}
		&__inputs {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			input {
				width: 100%;
				margin: 3px 5px;
				text-align: center;
				font-size: 16px;
			}
		}
		&__links {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			button,
			a {
				border: 0;
				background-color: transparent;
				text-transform: uppercase;
				text-decoration: underline;
				color: #6e3f6c;
				font-size: 14px;
				cursor: pointer;
			}
		}

		@include sm {
			flex: 1 1 50%;
			min-width: 100px;
		}
	}
}
header {
	menu {
		list-style: none;
		display: flex;
		justify-content: center;
		li {
			margin: 5px 20px;
			padding: 5px 10px;
			font-size: 22px;
			border-radius: 5px;
			text-transform: uppercase;
			cursor: pointer;
			a {
				color: #000000;
			}
			&:hover {
				background: linear-gradient(#96c0ff66, #3354fda8);
				a {
					color: #66157d;
				}
			}
			&:active {
				background: linear-gradient(#3354fda8, #96c0ff66);
				a {
					color: #221ef0;
				}
			}
		}
		@include sm {
			flex-direction: column;
			position: fixed;
			top: 0px;
			left: -70vw;
			height: 100vh;
			width: 60vw;
			background-color: #e7f8f9;
			border-right: 1px solid #0068c9;
		}
	}
}
.left-panel {
	position: fixed;
	top: 30vh;
	height: 100%;
	width: 20px;
	z-index: 2;
	&__button {
		position: relative;
		cursor: pointer;
		margin: 25px 0px 20px 5px;
		border: 5px solid red;
		width: 50px;
		border-radius: 35px;
		padding: 5px;
		&:hover {
			width: 200px;
			background-color: #d8bfd8;
			span {
				display: inline-block;
			}
		}
		img {
			width: 50px;
		}
		span {
			width: 70%;
			display: none;
			vertical-align: top;
			margin-top: 15px;
			font-size: 20px;
			text-align: center;
		}
	}
}
.right-panel {
	display: none;
}
.content {
	display: flex;
	justify-content: center;
	> div {
		width: 65%;
		@include sm {
			width: 100%;
		}
	}
	&__game {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-size: 20px;
		.timer {
			display: flex;
			flex-direction: column;
			text-align: center;
			@include sm {
				background-color: #fff8dc;
				position: fixed;
				width: 100%;
				bottom: 0px;
			}
			&__header {
				&__title {
					font-weight: 100;
				}
				@include sm {
					background-color: #eaf3fb;
					height: 150px;
					position: fixed;
					width: 100%;
					top: -130px;
					border-bottom: 2px solid #b4bcf2;
				}
				&:after {
					display: none;
					content: "▼";
					position: fixed;
					top: 8px;
					border: 1px solid #79acac;
					border-radius: 2px;
					width: 10%;
					color: #79acac;
					background-color: #c6e6f4;
					margin: 0px 42%;
					@include sm {
						display: block;
					}
				}
			}
			&__body {
				display: grid;
				grid-template-columns: 1fr;
				@include sm {
					grid-template-columns: 1fr 4fr;
				}
				&__watchclock {
					font-size: 25px;
					font-weight: 100;
				}
				&__control {
					display: grid;
					grid-template-columns: repeat(4, 1fr);
				}
			}
			img {
				width: 50px;
			}
		}
		&__table {
			border: 1px solid black;
			padding: 20px 0px;
			border-collapse: collapse;
			font-weight: 100;
			width: 100%;
			@include sm {
				width: 100%;
			}
			td,
			th {
				padding: 2px;
				border: 1px solid black;
				white-space: nowrap;
			}
			.player_avatar img {
				width: 5vw;
				height: 6vh;
				max-width: 35px;
				@include sm {
					display: none;
				}
			}
		}
	}
}
@import "./evening-booking";
@import "./profile";
@import "./pages";
