@import "normalize";
@import "mixins_adapt";
@import "font-awesome";

@import "vars";

@import url("https://fonts.googleapis.com/css2?family=Underdog&display=swap");

body {
	min-height: 100vh;
	margin: 0;
	background-color: #221740;
	padding: 0;
	display: grid;
	place-items: center;
	font-size: $font-size-main;
	color: $color-text-main;
	overflow-x: hidden;
	@include md {
		padding: 0;
		font-size: $font-size-main-md;
	}
	@include sm {
		padding: 0;
		font-size: $font-size-main-sm;
	}
}
.header-for-auto-scroll {
	position: absolute;
	top: 0;
}
.wrapper {
	width: 100vw;
	display: flex;
	flex-direction: column;
	height: 100%;

	@include sm {
		grid-template-rows: auto 1fr auto;
		grid-template-columns: auto;
		border-radius: 0px;
		box-shadow: none;
	}
	.header {
		position: sticky;
		top: 0px;
		background: linear-gradient($bg-color-light, $bg-color-dark);
		height: 12vh;
		min-height: 60px;
		max-height: 80px;
		padding: 10px 3vw 20px 5vw;
		display: flex;
		align-items: center;
		box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.5);
		font-size: 1.3em;
		z-index: 2;
		&__logo {
			margin-right: 5vw;
			height: 100%;
			filter: drop-shadow(10px -5px 1rem #ecb0b0);
			img {
				height: 100%;
			}
		}
		&__profile {
			margin-left: auto;
			display: flex;
			position: relative;
			align-items: center;
			&-button {
				border: 1px solid $color-text-main;
				border-radius: 5px;
				padding: 5px 10px;
				max-height: 40px;
				cursor: pointer;
				transition: all $animation-fast ease-in;
				&:hover {
					background-color: $color-text-main;
					color: $color-text-menu;
				}
				img {
					max-height: 40px;
					border-radius: 3px;
				}
			}
			&-caret {
				margin-left: 5px;
				cursor: pointer;
			}
			&-checkbox {
				display: none;
				&:checked {
					& ~ .header__profile-menu {
						display: block;
					}
				}
			}
			&-menu {
				display: none;
				position: absolute;
				top: 30px;
				right: 0;
				background-color: #150551;
				list-style: none;
				border-radius: 5px;
				&-item {
					margin: 5px;
					padding: 3px 10px;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					font-size: 1rem;
					color: $color-text-menu;
					white-space: nowrap;
					cursor: pointer;
					a {
						color: $color-text-menu;
						text-decoration: none;
					}
					&:last-of-type {
						margin-top: 15px;
					}
					&:hover {
						& .header__profile-menu-bar {
							width: 100%;
							border-radius: 0 0 25px 25px;
							opacity: 1;
						}
					}
				}
				&-bar {
					width: 0px;
					height: 2px;
					opacity: 0;
					background-color: $color-text-menu;
					transition: all $animation-fast ease-in-out;
				}
			}
		}
		&__navigation {
			list-style: none;
			display: flex;
			justify-content: space-between;
			color: $color-text-menu;
			&-item {
				margin-right: 20px;
				cursor: pointer;
				color: $color-text-menu;
				font-family: "Underdog", cursive;
				white-space: nowrap;
				a {
					color: $color-text-menu;
					text-decoration: none;
				}
				&:hover {
					.bar {
						width: 100%;
						opacity: 1;
					}
				}
				.bar {
					height: 5px;
					width: 0px;
					border-radius: 0 0 10px 0px;
					opacity: 0;
					background: linear-gradient($color-text-menu, transparent);
					transition: all $animation-fast ease-in;
				}
			}
		}
		.navigation-for-small-display {
			display: none;
			cursor: pointer;
			font-size: 2em;
			&.menu-hide {
				position: absolute;
				top: 20px;
				left: 15px;
			}
			&.menu-show {
				margin: 0px 15px;
			}
		}
		@include sm {
			padding-left: 0;
			justify-content: space-between;
			label.navigation-for-small-display {
				display: block;
			}
			&__logo {
				order: 2;
			}
			&__menu {
				order: 1;
			}
			&__profile {
				order: 3;
				margin-left: 0;
			}
			&__navigation {
				flex-direction: column;
				justify-content: center;
				height: 100vh;
				position: fixed;
				top: 0;
				left: -100%;
				background-color: $bg-color-dark;
				&-item {
					margin: 5px 20px;
					font-size: 1.5em;
				}
			}
			#header__navigation-checkbox:checked {
				~ #header__navigation {
					left: 0px;
				}
			}
		}
	}
	.main {
		flex: 1 0 auto;
		.section {
			padding: 20px 5vw;
			text-align: justify;
			text-indent: 25px;
			&:nth-child(odd) {
				background-color: $bg-color-light;
			}
			&__title {
				color: $color-text-section-title;
			}
			&.about-game {
				padding: 30px 8vw 40px 5vw;
			}
			&.near-evening {
				.booking {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					&__title {
						margin: 10px 0 20px 0;
						text-align: center;
						font-size: 2em;
						text-transform: uppercase;
					}
					&__subtitle {
						margin: 5px 0 10px 0;
						text-align: center;
						font-size: 1.6em;
						text-transform: uppercase;
					}
					&__place {
						&-row {
							width: 55vw;
							max-width: 1200px;
							margin: 10px 0;
							display: flex;
							justify-content: center;
							font-size: 1.4em;
						}
						&-label {
							width: 15vw;
							max-width: 300px;
						}
						input {
							width: 40vw;
							border-radius: 5px;
							&:focus-visible {
								outline: none !important;
							}
						}
					}
					&__participant {
						display: flex;
						align-items: center;
						margin: 10px 0;
						white-space: nowrap;
						&-num {
							width: 30px;
						}
						&-arrive {
							width: 75px;
						}
						&-duration {
							width: 120px;
						}
						&-info {
							span {
								font-size: 1.4em;
							}
						}
						&-name {
							display: inline-block;
							width: 20vw;
						}
						&-remove {
							font-size: 1.3em;
							color: $button-remove-color;
							cursor: pointer;
							transition: all $animation-fast ease-in-out;
							&:hover {
								color: $button-remove-color-hover;
							}
						}
					}
					input,
					select {
						background-color: $bg-color-input;
						text-align: center;
						border: 0;
						font-size: 1.4rem;
						color: $color-text-menu;
						&[placeholder] {
							color: $color-text-menu;
						}
						option {
							color: $bg-color-input;
						}
						&::-webkit-calendar-picker-indicator {
							display: none !important;
						}
					}
					&__buttons {
						margin: 20px 0;
						button {
							@extend %buttonStyle;
						}
					}
				}
			}
		}
	}
}
.footer {
	background: linear-gradient($bg-color-dark, $bg-color-light);
	height: 12vh;
	min-height: 60px;
	max-height: 80px;
	padding: 2vw 3vw 30px 5vw;
	flex: 0 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.5);
	font-size: 0.8em;
	&__copyrights {
		margin: 5px 0px 5px 0px;
	}
	&__links {
		margin-top: 5px;
	}
	&__link {
		margin: 0px 3px;
		font-size: 1.3rem;
		color: $color-text-blur;
	}
	.setting-text-dashboard {
		width: 80vw;
	}
}

@include lg {
	body {
		font-size: 1.2em;
	}
	.header,
	.section:not(.news-preview) {
		padding: 40px 15vw !important;
	}
	.setting-text-dashboard {
		width: 70vw !important;
	}
	.footer {
		padding: 20px 15vw !important;
	}
}
@include xl {
	body {
		font-size: 1.3em;
	}
	.header,
	.section:not(.news-preview) {
		padding: 40px 20vw !important;
	}
	.setting-text-dashboard {
		width: 60vw !important;
	}
	.footer {
		padding: 30px 20vw !important;
	}
}
@include sm {
	.section {
		padding: 20px 10px;
		.booking {
			&__place {
				&-row {
					width: 95vw;
				}
				input {
					width: 100%;
				}
			}
			label {
				display: none;
			}
			&__participant {
				&-name {
					width: 30vw;
				}
			}
		}
	}
}

@import "modals";

.modal {
	// @include sm {
	// 	// .modal-container {
	// 	height: 99vh;
	// 	width: 100vw;
	// 	// }
	// }
	.modal-container {
	}
	.common-form {
		display: flex;
		flex-direction: column;
		justify-content: stretch;
		max-height: 85vh;
		&__logo {
			width: 100px;
			filter: invert(100%) sepia(100%) saturate(500%) brightness(50%) hue-rotate(180deg);
		}
		&__title {
			margin-top: -0.5em;
		}
		.cke_contents {
			max-height: 38vh;
			@include sm {
				max-height: 25vh;
			}
		}
		&__row-expand_vertical {
			min-height: 50px;
			max-height: 15vh;
			overflow-x: hidden;
			overflow-y: auto;
			margin-bottom: 10px;
			text-align: center;
			scrollbar-width: thin;
			margin-top: -5px;
		}
		&__label {
			font-size: 1.2em;
			margin: 10px 0 0 10px;
		}
		&__select {
			display: block;
			width: 40vw;
			margin: 5px 10px;
			font-size: 1.3em;
			text-align: center;
		}
		&__input {
			display: block;
			width: 40vw;
			margin: 5px 10px;
			font-size: 1.3em;
			text-align: center;
			&[type="file"] {
				font-size: 1.1rem;
			}
		}
		&__textarea {
			display: block;
			width: 40vw;
			margin: 5px 10px;
			resize: vertical;
			font-size: 1.3em;
			&[name="html"] {
				width: 80vw;
				height: 50vh;
			}
		}
		&__divided-block {
			display: flex;
			border: 1px solid;
			border-radius: 5px;
			padding: 5px;
			h3 {
				margin-bottom: 10px;
			}
		}
		.profile {
			&__avatar-place {
				display: inline-block;
				width: 10vw;
				padding: 5px;
				border: 1px solid $bg-color-dark;
				border-radius: 5px;
				img {
					width: 100%;
				}
			}
		}
		font-size: 0.8em;
	}
	.modal-buttons {
		margin: 5px 0px;
	}
}

@import "news";
@import "game";
