<label for="profile-menu-checkbox" class="header__profile-caret">
	<i class="fa fa-caret-down" id="drop-menu"></i>
</label>
<input type="checkbox" id="profile-menu-checkbox" class="header__profile-checkbox" autocomplete="off" />
<menu class="header__profile-menu">
	<li class="header__profile-menu-item">
		<span data-action="user-profile-form">Профіль</span>
		<div class="header__profile-menu-bar"></div>
	</li>
	<li class="header__profile-menu-item">
		<a data-action="user-logout">Вихід</a>
		<div class="header__profile-menu-bar"></div>
	</li>
</menu>
