<div class="modal-container">
	<form class="common-form" method="POST">
		<!-- <picture>
			<source srcset="../images/logo.webp" type="image/webp" />
			<img class="common-form__logo" title="My logo" alt="My logo" src="./images/logo.png" />
		</picture> -->
		<h1 class="common-form__title">Відновлення паролю</h1>
		<div class="common-form__row">
			<input class="common-form__input" required type="text" name="login" placeholder="Логін/Пошта/Telegram" autofocus />
		</div>
		<div class="modal-buttons">
			<button type="submit" class="positive">Відновлення паролю</button>
		</div>
	</form>
</div>
