<form class="common-form" method="POST">
	<!-- <picture>
		<source srcset="../images/logo.webp" type="image/webp" />
		<img class="common-form__logo" title="My logo" alt="My logo" src="./images/logo.png" />
	</picture> -->
	<h1 class="common-form__title">Авторизація</h1>
	<div class="common-form__row">
		<input class="common-form__input" required type="text" name="login" placeholder="Логін/Псевдонім/Пошта" autofocus />
	</div>
	<div class="common-form__row">
		<input class="common-form__input" required type="password" name="password" placeholder="Пароль" />
	</div>
	<div class="modal-buttons">
		<button type="submit" class="positive">Увійти</button>
	</div>
	<div class="modal-buttons">
		<a data-action="user-forget-password-form">Забули пароль?</a>
		<a data-action="user-register-form">Реєстрація</a>
	</div>
</form>
