<form class="common-form" method="POST">
	<!-- <picture>
		<source srcset="../images/logo.webp" type="image/webp" />
		<img class="common-form__logo" title="My logo" alt="My logo" src="./images/logo.png" />
	</picture> -->
	<h1 class="common-form__title">Створення новини</h1>
	<div class="common-form__divided-block">
		<div class="common-form__column">
			<div class="common-form__row">
				<select name="type" id="news-type" class="common-form__select">
					<option value="news" {NEWS_TYPE_NEWS}>Новина (У блоці новин та має окрему сторінку)</option>
					<option value="attention" {NEWS_TYPE_ATTENTION}>Сповіщення (для користувачів при їх аторизації)</option>
					<option value="tg-info" {NEWS_TYPE_TG_INFO}>Телеграм сповіщення (не зберігається у системі)</option>
					<option value="tg-promo" {NEWS_TYPE_PROMO}>Промо (Додається до телеграм повідомлень)</option>
				</select>
			</div>
			<div class="common-form__row">
				<input class="common-form__input" type="text" name="title" placeholder="Заголовок" value="{NEWS_TITLE}" />
				<input type="hidden" name="id" value="{NEWS_ID}" />
			</div>
		</div>
		<div class="common-form__column">
			<div class="common-form__row">
				<label class="common-form__label-file" for="news-logo-input-file">Основна картинка для новости</label>
				<input class="common-form__input" type="file" name="logo" placeholder="Logo" id="news-logo-input-file"/>
			</div>
			<div class="common-form__row">
				<input class="common-form__input" type="text" name="subtitle" placeholder="Підзаголовок" value="{NEWS_SUBTITLE}" />
			</div>
		</div>
	</div>
	<div class="common-form__row"></div>
		<div class="editor-block">
			<div class="toolbar-container"></div>
			<div class="content-container">
				<div class="editor">{NEWS_HTML}</div>
			</div>
		</div>
	</div>
	<!-- <div class="common-form__row">
		<textarea class="common-form__textarea news" name="html" placeholder="Текст новини">{NEWS_HTML}</textarea>
	</div> -->
	<div class="modal-buttons">
		<button type="submit" class="positive">Зберегти</button>
		<button type="button" class="modal-close negative">Відміна</button>
	</div>
</form>
