<div class="modal-container">
	<form class="common-form" method="POST">
		<!-- <picture>
			<source srcset="../images/logo.webp" type="image/webp" />
			<img class="common-form__logo" title="My logo" alt="My logo" src="./images/logo.png" />
		</picture> -->
		<h1 class="common-form__title">Реєстрація користувача</h1>
		<div class="common-form__row">
			<input class="common-form__input" required type="text" name="login" placeholder="Логін" autofocus />
		</div>
		<div class="common-form__row">
			<input class="common-form__input" required type="text" name="name" placeholder="Псевдонім (ігровє ім’я)" data-autocomplete="user-name" />
		</div>
		<div class="common-form__row">
			<input class="common-form__input" required type="password" name="password" placeholder="Пароль" />
		</div>
		<div class="common-form__row">
			<input class="common-form__input" required type="password" name="chk_password" placeholder="Пароль, ще раз" />
		</div>
		<h3>Для Telegram-бота та відновлення пароля</h3>
		<div class="common-form__row">
			<input class="common-form__input" type="text" name="telegram" placeholder="Telegram username" />
		</div>
		<div class="common-form__row">
			<input class="common-form__input" type="email" name="email" placeholder="E-mail" />
		</div>
		<div class="modal-buttons">
			<button type="submit" class="positive">Реєстрація</button>
			<button type="button" class="modal-close negative">Відміна</button>
		</div>
	</form>
</div>
