<form id="beReadyForGame" method="POST" class="game-prepeare">
	<div class="game-prepeare__manager" data-evening-id="{EVENING_ID}">
		<!-- <label for="manager" class="game-prepeare__manager-label">Ведучій: </label> -->
		<input id="manager" name="manager" type="text" data-autocomplete="user-name" value="" placeholder="Ведучій" />
	</div>
	<div class="game-prepeare__buttons">
		<button data-action="players-shuffle">Перемішати гравців</button>
	</div>
	<ol class="game-prepeare__players-list">
		{GAME_PREPEARE_PLAYERS_LIST}
	</ol>
	<div class="game-prepeare__buttons">
		<button data-action="game-begin">Розпочати гру</button>
	</div>
	<!-- <div class='SepDiv'><button id="StartGame" class="menu_button">Начать</button></div> -->
	<div class="game-prepeare__players-array">{GAME_PREPEARE_PLAYERS_ARRAY}</div>
	<datalist id="evening-players-list">{GAME_PREPEARE_PLAYERS_DATALIST}</div>
</form>
