<form class="booking" data-wid="{WEEK_INDEX}" data-did="{DAY_INDEX}">
	<h3 class="booking__title">Налаштування вечора гри</h3>
	<div class="booking__settings">
		<div class="booking__settings-row two-elements">
			<label for="game-day-time" class="booking__label-centered"> {DAY_DATE} </label>
			<input class="timepicker" type="text" name="day_time" value="{DAY_TIME}" placeholder="Час початку першої гри" id="game-day-time" />
		</div>
		<div class="booking__settings-row multiple-elements">
			<select name="game">
				<option value="mafia" {DAY_GAME_MAFIA}>Мафія</option>
				<option value="poker" {DAY_GAME_POKER}>Покер</option>
				<option value="board" {DAY_GAME_BOARD}>Настільні ігри</option>
				<option value="cash" {DAY_GAME_CASH}>Кеш-покер</option>
			</select>
			<span class="checkbox-styled">
				<input type="checkbox" name="mods-fans" id="game-fans-checkbox" value="fans" class="checkbox-styled-checkbox" {DAY_GAME_MODS_FANS} />
				<label for="game-fans-checkbox" class="checkbox-styled__label"> Фановая </label>
			</span>
			<span class="checkbox-styled">
				<input type="checkbox" name="mods-tournament" id="game-tournament-checkbox" value="tournament" class="checkbox-styled-checkbox" {DAY_GAME_MODS_TOURNAMENT} />
				<label for="game-tournament-checkbox" class="checkbox-styled__label"> Турнир </label>
			</span>
		</div>
		<div class="booking__settings-row">
			<input type="text" name="prim" value="{DAY_PRIM}" placeholder="Примітка" />
		</div>
	</div>
	<div class="booking__participants">
		<datalist id="users-names-list"> </datalist>
		<h2 class="booking__subtitle">Учасники:</h2>
		{DAY_PARTICIPANTS}
	</div>

	<div class="booking__buttons">
		<button type="button" data-action="participant-field-get">Додати поле</button>
	</div>
	<div class="booking__buttons">
		<button type="button" data-action="day-approve">Розпочати запис</button>
	</div>
</form>
