<form class="booking">
	<h3 class="booking__title">Налаштування вечора гри</h3>
	<div class="booking__place">
		<div class="booking__place-row">
			<label for="eve_place" class="booking__place-label">Час початку</label>
			<span>{EVENING_DATE}</span>
		</div>
		<div class="booking__place-row">
			<label for="eve_place" class="booking__place-label">Розташування</label>
			<span>{EVENING_PLACE}</span>
		</div>
		<div class="booking__place-row">
			<label for="eve_place_info" class="booking__place-label">Опис місця</label>
			<span>{EVENING_PLACE_INFO}</span>
		</div>
	</div>
	<div class="booking__participants" id="eveningGamersFields">
		<h2 class="booking__subtitle">Учасники:</h2>
		{EVENING_PARTICIPANTS}
	</div>
</form>
