<div class="timer">
	<!-- <div class="timer__header">
		<h3 class="timer__title"></h3>
	</div> -->
	<!-- <div class="timer__body"> -->
	<div class="timer__watchclock">01:00.00</div>
	<div class="timer__control">
		<i class="fa fa-undo timer__control-button disabled" data-timer-action="undo"></i>
		<i class="fa fa-play timer__control-button" data-timer-action="start"></i>
		<i class="fa fa-pause timer__control-button hidden" data-timer-action="pause"></i>
		<i class="fa fa-repeat timer__control-button" data-timer-action="reset"></i>
		<i class="fa fa-forward timer__control-button" data-timer-action="next"></i>
	</div>
	<!-- </div> -->
</div>
