<tr data-player-id="{PLAYER_INDEX}" data-gamer-id="{USER_INDEX}" class="player">
	<td class="player__number" data-game-double-click-action="action-put-player">{PLAYER_NUMBER}.</td>
	<td class="player__info" data-game-double-click-action="action-put-player">
		<span class="player__avatar"> </span>
		<span class="player__role"> </span>
		<span class="player__name">{PLAYER_NAME}</span>
		<span class="player__points"></span>
	</td>
	<td class="player-data__fouls" data-game-double-click-action="action-set-foul" data-foul-id="0"></td>
	<td class="player-data__fouls" data-game-double-click-action="action-set-foul" data-foul-id="1"></td>
	<td class="player-data__fouls" data-game-double-click-action="action-set-foul" data-foul-id="2"><i class="fa fa-microphone-slash hidden"></i></td>
	<td class="player-data__fouls" data-game-double-click-action="action-set-foul" data-foul-id="3"></td>
	<td></td>
	<td class="player-data__puted vote-num"></td>
	<td class="player-data__notes prim"></td>
</tr>
