<div class="header__logo">{HEADER_LOGO}</div>
<nav class="header__navigation">
	<li class="header__navigation-item">
		<a href="/#about-game">Про гру</a>
		<div class="bar"></div>
	</li>
	<li class="header__navigation-item">
		<a href="#near-evening">Записатись</a>
		<div class="bar"></div>
	</li>
	<li class="header__navigation-item">
		<a href="#news">Новини</a>
		<div class="bar"></div>
	</li>
	<li class="header__navigation-item">
		NavigationItem4
		<div class="bar"></div>
	</li>
	<li class="header__navigation-item">
		NavigationItem5
		<div class="bar"></div>
	</li>
</nav>
<div class="header__profile">{PROFILE_BUTTON}</div>
