<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta name="description" content="{WEBSITE_DESCRIPTION}" />
		<meta name="author" content="DSVan" />
		{STYLE} {SCRIPTS}
		<title>{WEBSITE_TITLE}</title>
	</head>
	<body>
		<div class="wrapper">
			<header class="header">{HEADER_CONTENT}</header>
			<div class="wrapper">{MAIN_CONTENT}</div>
			<footer class="footer">
				<div class="footer__links">
					<!-- <a href="https://ru-ru.facebook.com/demontechno" target="_blank" class="footer__link"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
				<a href="" class="footer__link"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
				<a href="https://github.com/dsvan88" target="_blank" class="footer__link"><i class="fa fa-github-square" aria-hidden="true"></i></a>
				<a href="https://t.me/dsvan88" target="_blank" class="footer__link"><i class="fa fa-telegram" aria-hidden="true"></i></a>
				<a href="tel:+380964518770" target="_blank" class="footer__link"><i class="fa fa-phone-square" aria-hidden="true"></i></a> -->
				</div>
				<!-- © Copyrights DSVan -->
			</footer>
		</div>
	</body>
</html>
