<div class="booking__participant">
	<label for="booking__participant-{PARTICIPANT_INDEX}" class="booking__participant-num">{PARTICIPANT_NUMBER}.</label>
	<div class="booking__participant-info">
		<input name="participant[]" type="text" value="{PARTICIPANT_NAME}" class="booking__participant-name" />
		<input name="arrive[]" type="text" class="timepicker booking__participant-arrive" value="{PARTICIPANT_ARRIVE}" id="booking__participant-{PARTICIPANT_INDEX}" />
		<select name="duration[]" class="booking__participant-duration">
			<option value="0" {PARTICIPANT_DURATION_0}>-</option>
			<option value="1" {PARTICIPANT_DURATION_1}>1-2 гри</option>
			<option value="2" {PARTICIPANT_DURATION_2}>2-3 гри</option>
			<option value="3" {PARTICIPANT_DURATION_3}>3-4 гри</option>
		</select>
	</div>
</div>
